/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:wght@300;400&family=News+Cycle&family=Permanent+Marker&display=swap');


$mainfont: Lato, sans-serif;
$presentation-slide-text-align: center;
$presentation-font-size-root: 30px;


/*-- scss:rules --*/

/*********************************************
* CUSTOM COLORS

https://colorate.azurewebsites.net/Color/0A66B4
https://www.color-hex.com/color-palette/1294
https://mycolor.space/?hex=%23FC2290&sub=1
*********************************************/

:root {
    --green: #4d7e65;
    --blue: #3c70b5;
    --red: #b5533c;
    --black: #1d1e1f;
    --grey: #4a4a4b;
    --color-subtitle: #0090ff;
    --color-headings: #00003F;
    --color-small-headings: #806480;
    --color-strong: #009f00;
    --color-control: silver;
    --color-marker: silver;
    --pink: #fc2290;
}



/*********************************************
* GLOBAL STYLES
*********************************************/


.reveal-viewport {
    background: var(--bs-white);
    background-color: var(--bs-white);
}

.reveal {
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: var(--black);
}

.reveal ::selection {
   color: #f7f6f7;
   background: rgb(10, 102, 180);
   text-shadow: none;
}

.reveal ::-moz-selection {
   color: #f7f6f7;
   background: rgb(10, 102, 180);
   text-shadow: none;
}

.reveal ::marker {
    color: var(--color-marker)
}
section.has-dark-background ::marker {
    color: white;
}

.reveal .controls {
    bottom: 24px;
    color: var(--color-control);
}

.reveal .progress {
    height: 5px;
    color: var(--color-headings);
}

.reveal .slide-number {
    background-color: transparent;
    color: var(--black);
}


/*********************************************
* HEADERS
*********************************************/

.reveal h1.title {
    font-size: 3em;
    font-weight: bold;
    color: var(--black);
}

p.subtitle{
    color: var(--color-subtitle);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 3em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: News Cycle, sans-serif;
    font-weight: lighter;
    color: var(--color-headings)
}

.reveal h2 {
    font-size: 2em;
    margin-bottom: +50px;
}

.reveal h3 {
    color: var(--color-small-headings);
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}


/*********************************************
* FULL SCREEN SLIDES
*********************************************/

.reveal section:not(#title-slide)[data-background-image*="image"] {
    background-color: rgba(00, 00, 00, .2);
    padding: 1em;
    width: 80% !important;
    left: 10%;
    margin: auto;
    font-size: 1.3em;
}
.reveal section[data-background-image*="image"] h2 {
    color: white !important;
    font-family: Lato;
    font-weight: bold;

}


/*********************************************
* LISTS
*********************************************/
.reveal ul,
.reveal ol {
    margin-bottom: 0.6em;
}

ol li,
ul li {
  margin-top: 0.6em;
}

ol li li,
ul li li {
    margin-top: 0.2em;
    list-style-type: None;
    font-size: 0.8em;
    font-weight: 300;
}

/*********************************************
* OTHER TEXT
*********************************************/
section.has-dark-background strong,
section.has-dark-background b {
  color: white
}

strong, b {
    color: var(--color-strong)
}

.reveal a {
    color: var(--color-subtitle)
}

.reveal a:hover {
  color: var(--pink);
  text-shadow: none;
  border: none;
}

.reveal section.has-dark-background a {
    color: white;
    text-decoration: underline;
}

.reveal figure figcaption,
.caption {
  font-style: italic;
  color: var(--grey);
  font-size: 75%;
}

section:not(.has-dark-background) span.citation{
    font-size: 60%;
    font-weight:300;
    color: gray;
    vertical-align: bottom;
}

section:not(.has-dark-background) span.citation a{
    color: gray;
}

.reveal pre code {
    margin: 1em;
    font-size: 1.4em;
    padding: 1.4em;
    line-height: 1.2em;
    max-height: 600px;
}


section.has-dark-background code {
    color: silver;
}

.reveal table {
    font-size: 0.60em;
}

.emoji {
    font-size: 1.2em
}

#questions h1 {
    color:#f9f9ff !important;
}

.reveal p+h3,
.reveal div.sourceCode+h3{
    margin-top:1.5em;
}

.fragment {
    margin:2em;
}

.reveal div.sourceCode {
    border:0px;
}
/*********************************************
* QUOTES
*********************************************/

.reveal blockquote {
  font-family: Georgia;
  color: var(--black);
  max-width: 90%;
  text-align: left;
  box-shadow: none;
  border-left: none;
  font-size: 130%;
  position: relative; }
  .reveal blockquote p{
      line-height: 1.15em;
  }
  .reveal blockquote p:first-child::before {
    font-size: 1.5em;
    font-family: Georgia, serif;
    color: var(--pink);
    content: '«'; }
.reveal blockquote p:first-child::after {
  font-size: 1.5em;
  font-family: Georgia, serif;
  color: var(--pink);
  content: '»'; }


.reveal blockquote cite{
    color: var(--pink);
    text-align: right;
    font-style: normal;
    font-size: 0.75em;
    font-weight: bold;
    margin-top:1em;
}

.reveal blockquote cite:before {
    content: "\2014";
}

/*********************************************
* CUSTOM CLASSES
*********************************************/
/*-- hack for headings since section attribute ar no longer assigned to headings --*/
section.white-text h1,
section.white-text h2 {
    color:#f9f9ff !important;
}


.white-text {
    color:#f9f9ff !important;
}
.dark-text {
    color:#0c0c0c !important;
    font-weight: bold;
}

.answer {
    
    background-color: rgba(00, 00, 00, .2);
    padding: 0.8em;
    margin-top: 0.3em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}

.highlight {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 1.8em;
    background: rgba(255, 255, 255, .5);
    width: 80%;
    margin:auto;
    padding:1em;
}

.reading p,
.reading h3,
.csl-entry {
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.reading p,
.references {
    font-size: 0.7em;
}

.references > div{
    margin-bottom: 0.4em;
}


.funky {
    font-family: Caveat;
    font-size: 1.5em;
}

.green {
    color: #206C46;
}

.red {
    color: #B40A22;
}

/*********************************************
* CUSTOM LAYOUT CLASSES
*********************************************/

.l-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.l-multiple {
  display: flex;
  justify-content: space-around;
}

.l-double strong {
  font-size: 1.3em;
}

.l-image-corner{
    position: absolute;
    right: 0;
    transform: translate(0%,-55%);
}

.l-left-align {
  text-align: left;
}

